{% extends 'base.html.twig' %}

{% block title %}Blog's category{% endblock %}

{% block breadcrumbs %}
   <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ path('blog.posts') }}">Posts</a></li>
      <li class="breadcrumb-item active">Category</li>
   </ol>
{% endblock %}

{% block body %}

    {{ include('app/blog/category/_tabs.html.twig') }}

   <div class="controls">
      <a href="{{ path('blog.category.create') }}" class="btn btn-success">Add Category</a>
   </div>

   <div class="card">
      <div class="card-body">

          {{ form_start(form) }}
         <div class="row">
            <div class="col-md-2">{{ form_widget(form.title) }}</div>
            <div class="col-md-2">{{ form_widget(form.status) }}</div>
            <div class="col-md-2">
               <button type="submit" class="btn btn-primary">Filter</button>
               <a href="{{ path('blog.category') }}" class="btn btn-outline-secondary">Reset</a>
            </div>
         </div>
          {{ form_end(form) }}

      </div>
   </div>

   <div class="box">
      <table class="table table-bordered table-hover">
         <thead>
         <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Title', 'title') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Status', 'status') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Created', 'created') }}</th>
         </tr>
         </thead>
         <tbody>
         {% for category in pagination %}
            <tr>
               <td><a href="{{ path('blog.category.show', {'slug': category.slug}) }}">{{ category.title }}</a></td>
               <td>{{ category_status(category.status) }}</td>
               <td>{{ category.created|date('Y-m-d') }}</td>
            </tr>
         {% endfor %}
         </tbody>
      </table>
   </div>

   <div class="navigation">
       {{ knp_pagination_render(pagination) }}
   </div>

{% endblock %}