{% extends 'base.html.twig' %}

{% block title %}Create Blog's Post{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('blog.posts') }}">Posts</a></li>
        <li class="breadcrumb-item active">Create</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <strong>Create</strong> Post</div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}

        </div>
        <div class="card-footer">
            <div>
                <button type="submit" class="btn btn-primary">Create</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}