<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Custom styles for this template -->

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<header class="app-header navbar">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<div class="container">
			<a class="navbar-brand" href="{{ path('home') }}">App</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toogle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ml-auto">
                    {% if is_granted('ROLE_USER') %}
						<li class="nav-item text-nowrap">
							<a class="nav-link" href="{{ path('app_logout') }}">{{ app.user.username }}</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('home') }}">HOME</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('auth.signup') }}">Sign Up</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('auth.reset') }}">Reset</a>
						</li>
                    {% endif %}
				</ul>
			</div>
		</div>
	</nav>	
</header>
<div class="app-body">
	<main class="main">
		<div class="container">
            {# подключаем хлебные крошки #}
            {% block breadcrumbs %}{% endblock %}
            {# подключаем флеш сообщение #}
            {% include'_flashes.html.twig' %}
            {# главные контент #}
            {% block body %}{% endblock %}
		</div>
	</main>
</div>

<footer class="app-footer">
	<div>
		<span>© {{ "now"|date("Y") }} All rights reserved</span>
	</div>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
